.hero {
  background-color: $flat-white;
}

.hero__container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 60px;
}

.hero__list {
  @include reset-list;
}

.hero__text {
  text-align: center;
}

.hero__badge {
  font-size: 12px;
  line-height: 16px;
  color: $primary;
  text-transform: uppercase;
}

.hero__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 48px;
}

.hero__description {
  margin: 0;
  margin-bottom: 20px;
}

.hero__price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.hero__old-price {
  font-size: 16px;
  font-weight: 400;
  color: $primary;
}

.hero__button {
  position: absolute;
  width: 20px;
  height: 656px;
  background-color: transparent;
  border: none;

  &--prev {
    top: 0;
    left: 0;
    background-image: url("../../icons/arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;

    @media (min-width: $tablet-width) {

    }

    @media (min-width: $desktop-width) {

    }
  }

  &--next {
    top: 0;
    right: 0;
    background-image: url("../../icons/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;

    @media (min-width: $tablet-width) {

    }

    @media (min-width: $desktop-width) {

    }
  }
}
