.product-card {
  padding: 40px 20px 20px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px 29px;
  }
}

.product-card__link-image {
  display: block;
  margin-bottom: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }
}

.product-card__image {
  vertical-align: bottom;
}

.product-card__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
    font-size: 24px;
    line-height: 36px;
  }
}

.product-card__description {
  margin-top: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.product-card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.product-card__button {
  padding-left: 46px;
  font-size: 14px;
  line-height: 20px;
  background-image: url("../../icons/add-to-cart.svg");
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 20px 16px;
}
