.social__list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(3, 40px);
  gap: 20px;
  width: 160px;
}

.social__item {
  height: 40px;
  border-radius: 4px;

  &:hover,
  &:focus-visible {
    background-color: $secondary;
  }

  &:active {
    background-color: $primary-opacity;
  }
}

.social__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: $grey;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 20px;

  &:hover,
  &:focus-visible {
    background-color: $primary-lighter;
  }

  &--vk {
    mask-image: url("../../icons/vk.svg");
  }

  &--pinterest {
    mask-image: url("../../icons/pinterest.svg");
    mask-size: 22px;
  }

  &--ok {
    mask-image: url("../../icons/ok.svg");
  }
}
